{% extends "base.html" %}
{% block title %}ComicTales - Página Inicial{% endblock %}
{% block content %}

<body>
  <div class="banner-container-dc">
    <!-- Primeiro banner -->
    <div class="banner-dc">
      <img src="{{ url_for('static', filename='BannerDC2.png') }}" alt="Primeiro Banner" class="responsive-banner-dc">
    </div>

    <!-- Segundo banner -->
    <div class="banner-dc">
      <img src="{{ url_for('static', filename='BannerDC3.png') }}" alt="Segundo Banner" class="responsive-banner-dc">
    </div>
  </div>

  <br>
  <br>
  <br>


  <h2 style="align-items: center;">Personagens</h2>

  <br>

  <div class="carrosselDC">
    <button class="carrossel-flecha-dc" id="prevDC">&#10094;</button>
    <div class="carrossel-dc-wrapper">
      <div class="carrossel-dc-itens">
        <!-- Grupo 1 de itens -->
        <div class="carrossel-dc-grupo" id="group-1">
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='batman') }}">
              <img src="{{ url_for('static', filename='BatmanIcons.jpeg') }}" alt="Batman">
            </a>
            <h4>Batman</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='flash') }}">
              <img src="{{ url_for('static', filename='BarryIcons.jpeg') }}" alt="Flash">
            </a>
            <h4>Flash</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='superman') }}" >
              <img src="{{ url_for('static', filename='SuperManIcons.jpeg') }}" alt="Superman">
            </a>
            <h4>SuperMan</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='mulher-maravilha') }}" target="">
              <img src="{{ url_for('static', filename='MulherMaravilhaIcons.jpeg') }}" alt="Mulher Maravilha">
            </a>
            <h4>Mulher-Maravilha</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='arqueiro-verde') }}" >
              <img src="{{ url_for('static', filename='ArqueiroVerde.jpeg') }}" alt="Arqueiro Verde">
            </a>
            <h4>Arqueiro Verde</h4>
          </div>
        </div>
        <!-- Grupo 2 de itens -->
        <div class="carrossel-dc-grupo" id="group-2">
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='lanterna-verde') }}" target="">
              <img src="{{ url_for('static', filename='LanternaVerde.jpeg') }}" alt="Lanterna Verde">
            </a>
            <h4>Lanterna Verde</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='arlequina') }}">
              <img src="{{ url_for('static', filename='Arlequina.jpeg') }}" alt="Arlequina">
            </a>
            <h4>Arlequina</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='aquaman') }}" target="">
              <img src="{{ url_for('static', filename='Aquaman.jpeg') }}" alt="Aquaman">
            </a>
            <h4>Aquaman</h4>
          </div>
          <div class="produto-dc-item">
        <a href="{{ url_for('exibir_personagem', personagem_url='asa-noturna') }}">
          <img src="{{ url_for('static', filename='AsaNoturna.jpeg') }}" alt="Asa Noturna">
            </a>
            <h4>Asa Noturna</h4>
          </div>
          <div class="produto-dc-item">
            <a href="{{ url_for('exibir_personagem', personagem_url='coringa') }}" target="">
              <img src="{{ url_for('static', filename='CoringaIcons.jpeg') }}" alt="Coringa">
            </a>
            <h4>Coringa</h4>
          </div>
        </div>
      </div>
    </div>

    <button class="carrossel-flecha-dc" id="nextDC">&#10095;</button>
  </div>

  <br>
  <br>
  <br>
  <!-- Carrossel Personagens Mobile -->
  <div class="carrosselDC-mobile">
    {% for personagem in personagens %}
    <div class="produto-dc-item-mobile">
      <a href="{{ url_for('personagem', personagem_url=personagem.nome|replace(' ', '-')) }}" target="">
        <img src="{{ url_for('static', filename=personagem.nome|replace(' ', '-') ~ '.jpeg') }}"
          alt="{{ personagem.nome }}">
      </a>
      <h4>{{ personagem.nome }}</h4>
    </div>
    {% endfor %}
  </div>



  <!-- Lançamentos -->


  <h2 style="align-items: center;">Lançamentos</h2>
  <br>

  <div class="carrosselLancamentoDC">
    <button class="carrossel-flecha-lancamento-dc" id="prev-lancamento-dc">&#10094;</button>
    <div class="carrossel-lancamento-dc-wrapper">
      <div class="carrossel-lancamento-dc-items">
        <!-- Grupo 1 de itens -->
        <div class="carrossel-lancamento-dc-grupo" id="group-1">
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=252) }}">
              <img src="{{ url_for('static', filename='PoderosaHQ.webp') }}" alt="Poderosa">
            </a>
            <h4>
              Poderosa Vol. 2</h4>
            <br>
            <p>R$ 51,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=252) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=252) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=253) }}">
              <img src="{{ url_for('static', filename='MulherGATO.webp') }}" alt="Mulher Gato">
            </a>
            <h4>Mulher-Gato (2023) 05</h4>
            <br>
            <p>R$ 39,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=253) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=253) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=254) }}">
              <img src="{{ url_for('static', filename='MulherMaravilhaFlash.webp') }}" alt="Mulher Maravilha/Flash">
            </a>
            <h4>Mulher-Maravilha/Flash 11</h4>
            <br>
            <p>R$ 22,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=254) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=254) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=255) }}">
              <img src="{{ url_for('static', filename='SagaLiGA.webp') }}" alt="A Saga Da Liga Da Justiça 07/23">
            </a>
            <h4>A Saga Da Liga Da Justiça 07/23</h4>
            <br>
            <p>R$ 57,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=255) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=255) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=256) }}">
              <img src="{{ url_for('static', filename='Godzilla.webp') }}" alt="Liga Da Justiça Vs Godzilla Vs Kong">
            </a>
            <h4>Liga Da Justiça Vs Godzilla Vs Kong</h4>
            <p>R$ 91,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=256) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=256) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
        </div>
        <!-- Grupo 2 de itens -->
        <div class="carrossel-lancamento-dc-grupo" id="group-2">
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=257) }}">
              <img src="{{ url_for('static', filename='SuperGirl.webp') }}" alt="Supergirl: Mulher Do Amanhã">
            </a>
            <h4>Supergirl: Mulher Do Amanhã</h4>
            <br>
            <p>R$ 159,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=257) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=257) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=258) }}">
              <img src="{{ url_for('static', filename='Shazam.webp') }}" alt="Shazam! (2024) Vol. 1">
            </a>
            <h4>Shazam! (2024) Vol. 1</h4>
            <br>
            <p>R$ 49,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=258) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=258) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=259) }}">
              <img src="{{ url_for('static', filename='Titãs.webp') }}" alt="Titãs: Viagem Pelo Mundo Das Feras">
            </a>
            <h4>Titãs: Viagem Pelo Mundo Das Feras</h4>
            <p>R$ 84,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=259) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=259) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=260) }}">
              <img src="{{ url_for('static', filename='RavenaTeenTitans.webp') }}"
                alt="Jovens Titãs: Ravena (DC Teens)">
            </a>
            <h4>
              Jovens Titãs: Ravena (DC Teens)</h4>
            <br>
            <p>R$ 31,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=260) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
              <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=260) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
              </form>
          </div>
          <div class="produto-lancamento-dc-items">
            <a href="{{ url_for('exibir_produto', produto_id=261) }}">
              <img src="{{ url_for('static', filename='GaviãoNegro.webp') }}" alt="Gavião Negro Por Geoff Johns Vol. 2">
            </a>
            <h4>Gavião Negro Por Geoff Johns Vol. 2</h4>
            <p>R$ 149,90</p>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=261) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="add-carrinho">Adicionar ao Carrinho</button>
            </form>
            <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=261) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <button class="carrossel-flecha-lancamento-dc" id="next-lancamento-dc">&#10095;</button>
  </div>


  <!-- Carrossel Lançamentos DC Mobile -->


  <div class="carrossel-lancamento-dc-mobile">
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=317) }}">
        <img src="{{ url_for('static', filename='PoderosaHQ.webp') }}" alt="Poderosa">
        <h4>
          Poderosa Vol. 2</h4>
        <br>
        <p>R$ 51,90</p>
        <form action="{{ url_for('adicionar_ao_carrinho', produto_id=317) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button class="add-carrinho">Adicionar ao Carrinho</button>
        </form>
        <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=317) }}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
        </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=318) }}">
        <img src="{{ url_for('static', filename='MulherGATO.webp') }}" alt="Mulher Gato">
      </a>
      <h4>Mulher-Gato (2023) 05</h4>
      <br>
      <p>R$ 39,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=318) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=318) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=319) }}">
        <img src="{{ url_for('static', filename='MulherMaravilhaFlash.webp') }}" alt="Mulher Maravilha/Flash">
      </a>
      <h4>Mulher-Maravilha/Flash 11</h4>
      <br>
      <p>R$ 22,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=319) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=319) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=320) }}">
        <img src="{{ url_for('static', filename='SagaLiGA.webp') }}" alt="A Saga Da Liga Da Justiça 07/23">
      </a>
      <h4>A Saga Da Liga Da Justiça 07/23</h4>
      <p>R$ 57,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=320) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=320) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=321) }}">
        <img src="{{ url_for('static', filename='Godzilla.webp') }}" alt="Liga Da Justiça Vs Godzilla Vs Kong">
      </a>
      <h4>Liga Da Justiça Vs Godzilla Vs Kong</h4>
      <p>R$ 91,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=321) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=321) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=322) }}">
        <img src="{{ url_for('static', filename='SuperGirl.webp') }}" alt="Supergirl: Mulher Do Amanhã">
      </a>
      <h4>Supergirl: Mulher Do Amanhã</h4>
      <br>
      <p>R$ 159,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=322) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=322) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=323) }}">
        <img src="{{ url_for('static', filename='Shazam.webp') }}" alt="Shazam! (2024) Vol. 1">
      </a>
      <h4>Shazam! (2024) Vol. 1</h4>
      <br>
      <p>R$ 49,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=323) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=323) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=324) }}">
        <img src="{{ url_for('static', filename='Titãs.webp') }}" alt="Titãs: Viagem Pelo Mundo Das Feras">
      </a>
      <h4>Titãs: Viagem Pelo Mundo Das Feras</h4>
      <p>R$ 84,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=324) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=324) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=325) }}">
        <img src="{{ url_for('static', filename='RavenaTeenTitans.webp') }}" alt="Jovens Titãs: Ravena (DC Teens)">
      </a>
      <h4>
        Jovens Titãs: Ravena (DC Teens)</h4>
      <p>R$ 31,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=325) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=325) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
    <div class="produto-lancamento-dc-mobile">
      <a href="{{ url_for('exibir_produto', produto_id=326) }}">
        <img src="{{ url_for('static', filename='GaviãoNegro.webp') }}" alt="Gavião Negro Por Geoff Johns Vol. 2">
      </a>
      <h4>Gavião Negro Por Geoff Johns Vol. 2</h4>
      <p>R$ 149,90</p>
      <form action="{{ url_for('adicionar_ao_carrinho', produto_id=326) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button class="add-carrinho">Adicionar ao Carrinho</button>
      </form>
      <form action="{{ url_for('adicionar_a_lista_de_desejos', produto_id=326) }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="wishlist">Adicionar à Lista de Desejos</button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='dc.js') }}"></script>
</body>
{% endblock %}